@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #7a52f4;
        --color-secondary-yellow: #f4c952;
        --color-secondary-pink: #f20089;
        --color-dark: #000000;
        --color-grey: #ebf0f0;
        --color-grey-dark: #5d5d5b;
        --color-grey-light: #cfdbd5;
    }

    html {
        font-family: "Inter", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 800;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }
}

@layer components {
    .btn-filled {
        @apply bg-primary text-white;
    }

    .btn-outline {
        @apply bg-transparent border-[1px] border-grey-light text-primary;
    }

    .btn-transparent {
        @apply bg-transparent border-none text-primary;
    }

    .btn-filled-resting {
        background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0.8)
            ),
            #7a52f4;
        @apply text-primary;
    }

    .btn-outline-resting {
        @apply bg-transparent border-[1px] border-grey-light bg-white text-black;
    }

    .btn-transparent-resting {
        @apply bg-transparent border-none text-black;
    }

    .nav-link {
        @apply after:transition after:ease-in-out after:duration-300 after:block after:content-[''] after:border-t-[3px] after:border-primary after:scale-0 after:hover:scale-100;
    }
}
